<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/tasks.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Задача 4</title>
    <style>
      .green {
        color: green;
      }
      .red {
        color: red;
      }
    </style>
  </head>

  <body>
    <div class="task">
      <h2 class="task__title">Задача 4</h2>
      <p class="task__description">“Рахунок у банку”</p>
      <ol>
        <li>
          Спочатку сума дорівнює 0грн. Змінити суму у гривнях можна або
          зарахуванням на рахунок, або зняттям.
        </li>
        <li>
          Сума автоматично переводиться у долари та євро (фіксований курс
          задається у data).
        </li>
        <li>
          можливість зарахувати суму (контролювати, щоб не була від’ємною)
        </li>
        <li>можливість зняти (щоб не можна зняти більше ніж є на рахунку)</li>
        <li>
          при виконанні зняття і зарахування коштів вираховувати 3% від суми
          (відображати кількість відсотків автоматично)
        </li>
      </ol>
      <p>При зміні суми :</p>
      <ul>
        <li>якщо було зняття, то суму відоражати червоним</li>
        <li>якщо було зарахування, то суму відображати зеленим</li>
        <li>
          якщо сума валюти менша за 100 то відображати червоним кольором, інакше
          - зеленим
        </li>
      </ul>
      <div id="app">
        <div>
          Сума на рахунку:
          <span :class="transactionColor">{{moneyAmountOnAccount}}</span> грн.
        </div>
        <div>
          Зарахувати на рахунок:
          <input type="number" v-model="addMoneyAmount" />
          <button @click="addMoneyOnAccount()">Зарахувати</button>
        </div>
        <div>
          Зняти з рахунку:
          <input type="number" v-model="withdrawMoneyAmount" />
          <button @click="withdrawMoneyFromAccount()">Зняти</button>
        </div>
        <div>
          Відсоток за обслуговування:
          <span>{{commissionValueForDisplay}}</span> грн
        </div>
        <div class="red">{{message}}</div>
        <hr />
        <div>
          Сума у доларах:
          <span :class="getColorForUSD">{{moneyAmountToDollar}}</span> $
        </div>
        <div>
          Сума у евро:
          <span :class="getColorForEuro">{{moneyAmountToEuro}}</span> Є
        </div>
      </div>
    </div>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            moneyAmountOnAccount: 0,
            dollarRate: 36.6,
            euroRate: 37.5,
            commissionPercent: 3,
            addMoneyAmount: null,
            withdrawMoneyAmount: null,
            message: "",
            transactionColor: "",
          }
        },
        computed: {
          commission() {
            let moneyAmount =
              this.addMoneyAmount ?? 0 + this.withdrawMoneyAmount ?? 0
            return moneyAmount * (this.commissionPercent / 100)
          },
          commissionValueForDisplay() {
            return this.commission.toFixed(2)
          },
          moneyAmountToDollar() {
            return (this.moneyAmountOnAccount / this.dollarRate).toFixed(2)
          },
          moneyAmountToEuro() {
            return (this.moneyAmountOnAccount / this.euroRate).toFixed(2)
          },
          getColorForUSD() {
            if (this.moneyAmountToDollar < 100) return "red"
            else return "green"
          },
          getColorForEuro() {
            if (this.moneyAmountToEuro < 100) return "red"
            else return "green"
          },
        },
        methods: {
          addMoneyOnAccount() {
            if (this.addMoneyAmount > 0) {
              this.moneyAmountOnAccount += this.addMoneyAmount - this.commission
              this.addMoneyAmount = null
              this.message = ""
              this.transactionColor = "green"
            } else {
              this.addMoneyAmount = null
              this.message = "Увага, сума повинна бути більшою нуля!"
              this.transactionColor = null
            }
          },
          withdrawMoneyFromAccount() {
            if (this.withdrawMoneyAmount < this.moneyAmountOnAccount) {
              this.moneyAmountOnAccount -=
                this.withdrawMoneyAmount - this.commission

              this.withdrawMoneyAmount = null
              this.message = ""
              this.transactionColor = "red"
            } else {
              this.withdrawMoneyAmount = null
              this.message =
                "Увага, сума, яка знімається, більша за суму на рахунку!"
              this.transactionColor = null
            }
          },
        },
      })
      app.mount("#app")
    </script>
  </body>
</html>
